<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSHomeKitUsageDescription</key>
	<string>Homecast needs access to your HomeKit devices to control your smart home.</string>
</dict>
</plist>
